<%# <div class="vh-100"> %>
<h1>The Eatery</h1>
<p>Add stuff here</p>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"], prompt: "Select a category" %>
  <%= f.input :phone_number %>
  <%= f.submit class: "btn btn-light mt-1" %>
<% end %>

<%= button_to "Go Back", restaurants_path, method: :get, class: "btn btn-light mt-3" %>
<%# </div> %>
