<h2 class="text-white mb-3"><%= @restaurant.name %></h2>

<div class="card-body shadow pt-3 pb-1 mb-2" style="background-color: #4682A9; border-radius: 10px;">
  <p class="text-dark text-white">Category: <%= @restaurant.category.capitalize %></p>
  <p class="text-dark text-white"><%= @restaurant.address %></p>
  <p class="text-dark text-white"><%= @restaurant.phone_number %></p>

  <% if @restaurant.reviews.any? %>
    <p class="text-dark text-white"><strong>Average Rating: <%= @restaurant.reviews.sum(:rating) / @restaurant.reviews.count %>/5</strong></p>
  <% end %>

  <div class="reviews-container overflow-auto" style="max-height: 200px;">
    <% @restaurant.reviews.each do |review| %>
      <div class="card p-0 mb-2" style="border: 2px solid #F6F4EB; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        <div class="card-body px-3" style="background-color: #749BC2; border-radius: 10px;">
          <p class="mb-2" style="font-size: 14px; width: 630px;"><%= review.content %></p>
        </div>
      </div>
    <p class="mb-4" style="font-size: 14px;"><strong><%= review.rating %>/5</strong></p>
    <% end %>
  </div>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, as: :radio_buttons, collection: 1..5, wrapper_html: { class: 'd-flex justify-content-between' }, item_wrapper_class: 'mx-3'%>
    <%= f.submit class: "btn btn-light mt-2 mb-3" %>
  <% end %>
</div>

<%= button_to "Go Back", restaurants_path, method: :get, class: "btn btn-light mt-2" %>
